.icon-3 {
    width: 3px;
    height: 3px;
    border-radius: 3px;
}

.icon-10 {
    width: 10px;
    height: 10px;
}

.icon-22 {
    width: 22px;
    height: 22px;
    border-radius: 22px;
    object-fit: cover;
}

.icon-24 {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.icon-28 {
    width: 28px;
    height: 28px;
    border-radius: 28px;
    object-fit: cover;
}

.icon-32 {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    object-fit: contain;
}

.img-242 {
    width: 242px;
    height: 136px;
}